# the certificate
/public/cert.pem

# just keep the "Hello" notification :))
/public/noti/noti0.m4a
/public/noti/noti1.m4a
/public/noti/noti3.m4a

# firebase's configuration
/public/firebase.js